@font-face {
  font-family: 'Arial MT';
  src: url('../../fonts/Arial-MT/ArialMT.ttf');
}

@font-face {
  font-family: 'Arial MT Bold';
  src: url('../../fonts/Arial-MT-Bold/Arial-BoldMT.ttf');
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('../../fonts/Myriad-Pro/myriadpro-regular.ttf');
}